/* Colors */
/* Fonts */
/* Layout */
body {
  background: #223843;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0; }

p {
  color: #e74c3c; }

.map {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; }
