<!DOCTYPE html>
<html ng-app="streetSharkApp">

<head>
    <title>Pre Crime Street Shark</title>
    <meta name="viewport" content="width=device-width">

    <!-- Scripts -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.7/angular-webicon.min.js"></script>
    <script type="text/javascript" src="js/site.js"></script>

    <!-- Google Maps API Key AIzaSyC1FZa4wqh5Go6jdzhiBSjPx5z_hherECU -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1FZa4wqh5Go6jdzhiBSjPx5z_hherECU&libraries=visualization"></script>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/site.css" />
</head>

<body ng-controller="MainController">
    <div id="map" class="map"></div>
    <div class="info">
        <div class="drop-down">
            <select ng-model="hour">
                <option ng-repeat="option in hours" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <div class="drop-down">
            <select ng-model="gender">
                <option ng-repeat="option in genders" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <div class="drop-down">
            <select ng-model="age">
                <option ng-repeat="option in ageGroups" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <!-- <div class="check-box">
            <label>
                Show Pokemon?
                <input type="checkbox" ng-model="pokemonShow" />
            </label>
        </div> -->
        <table>
            <tr>
                <td>Time:</td>
                <td><span ng-bind="hour"></span>:00</td>
            </tr>
            <tr>
                <td>Temperature:</td>
                <td ng-bind="temp"></td>
            </tr>
            <tr>
                <td>Raining?</td>
                <td ng-bind="raining"></td>
            </tr>
        </table>
    </div>
</body>

</html>